---
title: Google search
layout: page
---

<b>Note:</b> Our search page is still trying to get caught up with the improvements we implemented recently. Sorry for any inconvenience.

<script async src="https://cse.google.com/cse.js?cx=004234720413995998423:vyup6kxwuhp"></script>
<div class="gcse-search"></div>

<hr>

Files on this site:

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<h2 style="text-align: center;">{{ year.name }}</h2>
{% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
{% for month in postsByMonth %}
<h3>{{ month.name }}</h3>
<ul>
{% for post in month.items %}
<li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endfor %}
<hr>
{% endfor %}

{% include search-lunr.html %}
