// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

blockquote .small, blockquote cite, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color:#777
}

blockquote .small:before, blockquote cite:before, blockquote footer:before, blockquote small:before {
    content: "\2014 \00A0"
}

dt {
	font-weight: bold;
}

dd {
	padding-left: 1em;
	margin-bottom: 1em;
}

iframe {
	margin-bottom: 1em;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow:hidden
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:0
}

.embed-responsive-16by9 {
    padding-bottom:56.25%
}

.embed-responsive-4by3 {
    padding-bottom:75%
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.pdf, .scribd_iframe_embed {
    height: 600px;
	width: 100%;
}
